{{#each scores as |score|}}
  <li class="container-fluid">
    <div class="d-flex flex-row align-items-center justify-content-between">
      <div class="col pl-1">
        <p class="terminal-text text-truncate">
          {{score.player}}
        </p>
      </div>

      <div class="col">
        <p class="terminal-text text-right text-truncate">
          {{format-money score.score precision=0}}
        </p>
      </div>
    </div>
  </li>
{{/each}}
