<div class="mx-4 text-primary">
  {{#fb-share-button url=url quote=title}}
    Share
  {{/fb-share-button}}
</div>

<div class="mx-4 text-primary">
  {{#twitter-share-button title=title text=description url=url}}
    Share
  {{/twitter-share-button}}
</div>

<div class="mx-4 text-primary">
  {{#linkedin-share-button title=title url=url text=description}}
    Share
  {{/linkedin-share-button}}
</div>
