<div class="container-fluid px-0">

  {{#if (and weaponsAvailable.size (not packsAvailable.size))}}
    <p>I got weapons only today.</p>
  {{else if (and packsAvailable.size (not weaponsAvailable.size))}}
    <p>I got packs only today.</p>
  {{else if (and packsAvailable.size weaponsAvailable.size)}}
    <p>You're in luck, I got packs and weapons in stock.</p>
  {{else}}
    <p>Sorry, all outta stock today. Come back soon.</p>
  {{/if}}

</div>
