<div class="container-fluid px-0">

  {{#if (gt turnsLeft 10)}}
    <p>
      "Alls I can offer you today is garden implements and cutting tools. Come back later when I get more stock."
    </p>

  {{else}}
    <p>
      "I got some carrying gear, for all your carrying needs."
    </p>
  {{/if}}


  <div class="btn-group w-100">
    <div class="btn btn-secondary btn-lg flex-fill">
      Weapons
    </div>

    {{#link-to 'market' class="btn btn-secondary btn-lg flex-fill"}}
      Market
    {{/link-to}}

  </div>
</div>
