<div class="title-image">
  <h1 class="title-future display-1 text-warning">Future</h1>
  <h1 class="title-butcher display-1 text-danger">Butcher</h1>
</div>

<p class="headline mt-2 text-secondary">Where capitalism meets cannibalism</p>
