<img
  id="heart-sprite"
  src={{heartAsset}}
  alt="heart-sprite"
>

<img
  id="machete-sprite"
  src={{macheteAsset}}
  alt="machete-sprite"
>

<img
  id="splatter-sprite"
  src={{bloodAsset}}
  alt="splatter-sprite"
>

<div
  id="title-image"
>
  <h1 class="main-title">Future</h1>
  <h1 class="main-title">Butcher</h1>
</div>
