<img
  id="heart-sprite"
  src="https://s3-us-west-1.amazonaws.com/futurebutcher.com/assets/pixelated-heart.png"
>

<img
  id="machete-sprite"
  src="https://s3-us-west-1.amazonaws.com/futurebutcher.com/assets/machete.png"
  style="display: none;"
>

<img
  id="splatter-sprite"
  src="http://static.indigoimages.ca/2015/shop/red-paint-splatter.png"
  style="display: none; height: 50vh;"
>

<div
  id="title-image"
  style="display: none;"
>
  <h1 class="main-title">Future</h1>
  <h1 class="main-title">Buthcer</h1>
</div>
