<div
  class="transition-container container-fluid d-flex flex-column justify-content-center align-items-center bg-dark"
>
  <h1 class="display-2 transition-animation">
    {{#if (eq icon "subway")}}
      <span class="subway-animation">
        <ion-icon name="subway"></ion-icon>
      </span>

    {{else}}
      <span
        class="default-animation d-flex align-items-center justify-content-center"
      >
        <ion-icon name="refresh"></ion-icon>
      </span>
    {{/if}}
  </h1>
</div>
