{{#each stations as |station|}}
  <li class="list-group-item mb-2 mb-lg-3">
    {{subway/station-details
      station=station
      currentStation=currentStation
      sendSelectStation=(action "selectStation")
    }}
  </li>
{{/each}}
