<div class="d-flex w-100 mb-0 mb-lg-1 justify-content-center">
  <h5 class="page-title">Navigation</h5>
</div>

<p>
  Compare the prices and quantities of cuts in different markets.
</p>

<p>
  Traveling takes time, depending on how far the destination is from the city center.
</p>

<p>
  Neighborhoods further away from the city center are safer and usually have fewer cuts available.
</p>

<p class="mb-3">
  You only have 24 hours, so make every minute count.
</p>
