<h4 class="text-accent-alt text-center mt-2 mt-md-3 mb-1 pb-1 border-bottom border-black">Navigation</h4>

<p>
  Compare the prices and quantities of cuts in different markets.
</p>

<p>
  Traveling takes time, depending on how far the destination is from the city center.
</p>

<p>
  Neighborhoods further away from the city center are safer and usually have fewer cuts available.
</p>

<p class="mb-3">
  You only have 24 hours, so make every minute count.
</p>
