<h3 class="text-center mt-3">Navigation</h3>

<p>
  Visit different neighborhoods and compare their markets - prices, quantities, etc.
</p>

<p>
  Traveling from one neighborhood to another takes time, depending on how far that neighborhood is from the city center.
</p>

<p>
  Neighborhoods further away from the city center are safer and usually have fewer cuts available.
</p>

<p class="mb-3">
  Remember you have 24 hours, until 5am, so make every minute count.
</p>
