@import url('https://fonts.googleapis.com/css?family=Baumans|Michroma|Space+Mono');
@import './defaults';
@import './utilities';
@import './pages/pages';
@import './components/components';

html {
  height: 100%;
  width: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  background: $black;
  color: $green;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Michroma', sans-serif;
  letter-spacing: 1px;
}

h5 {
  font-weight: 800;
}

p {
  font-family: 'Michroma', monospace;
  letter-spacing: 1px;
}

@media (max-width: 320px) {
  p { font-size: 13px; }
}

@media (min-width: 414px) {
  p { font-size: 17px; }
}

@media (min-height: 812px) {
  p { font-size: 18px; }
}
