@import './utilities';

.full-screen {
  overflow: hidden;
}

.top-spacer {
  padding-top: 70px;
}

input.form-control {
  background-color: $black;
  border-top: none;
  border-right: none;
  border-left: none;
  border-color: $darkGreen;
  border-radius: 2px;
  font-family: 'Michroma', sans-serif;
  font-size: 1rem;
  letter-spacing: 1px;
  transition: all 0.5s ease-out;
}

input.form-control:focus {
  background-color: $black;
  border-color: $green;
  box-shadow: none;
  color: $green;
  font-family: 'Space Mono', monospace;
  font-weight: 800 !important;
}

.btn-group-lg > .btn {
  border-radius: 2px;
}

.btn-primary {
  margin: 10px 0;
  background-color: $black;
  border-color: $darkGreen;
  border-radius: 5px;
  border-width: 2px;
  color: $green;
  font-family: 'Michroma';
  font-weight: 900;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  transition: all 0.2s ease-out;
}

%brightenState {
  background-color: $darkGreen !important;
  border-color: $green !important;
  border-radius: 8px !important;
  color: rgba(0, 0, 0, 0.5) !important;
}

.btn-primary:active {
  background-color: transparent;
  border: none;
}

.btn-primary:focus {
  box-shadow: none;
}

.btn-primary:hover {
  @extend %brightenState;
  transform: translateY(-2px);
  box-shadow: 1px 1px 7px 3px $darkGreen;
}

.btn-primary:active:focus {
  box-shadow: 0 0 0 0.2rem $darkGreen !important;
}

.btn-secondary {
  margin: 10px 0;
  background-color: $black;
  border-color: $darkGreen;
  border-radius: 5px;
  border-width: 2px;
  color: $green;
  font-family: 'Michroma';
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: all 0.2s ease-out;
  white-space: normal;
}

.btn-secondary:active {
  background-color: transparent !important;
  border-color: transparent !important;
  color: $green !important;
  box-shadow: 0 0 3px 5px $darkGreen !important;
}

.btn-secondary:focus {
  box-shadow: none;
}

.btn-secondary:hover {
  @extend %brightenState;
  transform: translateY(-2px);
  box-shadow: 1px 1px 7px 3px $darkGreen;
}

// .btn-secondary:visited {
//   background-color: $black !important;
//   color: $green !important;
//   border: solid $green !important;
// }

.btn-plain {
  background-color: $black;
  border: none;
  border-radius: 2px;
  font-family: 'Voltaire', sans-serif;
  font-size: 1.5rem;
  color: $green;
}

.btn-simple {
  font-family: 'Space Mono', monospace;
  font-weight: bold;
}

%steadyState {
  transform: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
  color: $darkGreen !important;
  border-color: $darkGreen !important;
}

.btn-disabled {
  background-color: transparent;
  color: $darkGreen;
  font-style: italic;
  white-space: normal;
  cursor: not-allowed !important;

  &:hover  { @extend %steadyState; }
  &:active { @extend %steadyState; }
}

.disabled {
  color: $darkGreen;
  font-style: italic;
  cursor: not-allowed !important;

  &:hover  { @extend %steadyState; }
  &:active { @extend %steadyState; }
}

.list-group-item {
  background-color: transparent;
  padding-left: 0;
  padding-right: 0;
  border: none;
}

.border {
  border: 1px solid;
  border-radius: 5px;
}

.border-primary {
  border-color: $green !important;
}

.border-secondary {
  border-color: $darkGreen !important;
}

.border-black {
  border-color: black !important;
}

.transaction-alert {
  position: absolute;
  width: 100%;
  top: -10vh;
  left: 50%;
  margin-left: -50%;
  z-index: 10000;
}

@media (max-width: 414px) {
  .btn-secondary.btn-lg.btn-block {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }
}

@media (max-width: 350px) {
  .btn-secondary.btn-lg.btn-block {
    font-size: 14px;
  }
}

@media (min-width: 576px) {
  .top-spacer {
    padding-top: 95px;
  }
}

@media (min-width: 768px) {
  .btn.btn-primary {
    font-size: 22px;
  }
}
