// =========================== Future Butcher Theme ===========================
// ============================================================================

// Variables ===================================================================

// brand color palette ---------------------------------------------------------------

$brand-primary:   #4CAD54;
$brand-secondary: rgba($brand-primary, 0.5);
$brand-white:     #d1d1d5;
$brand-blue:      #65c7c7;
$brand-grey:      #8C8E96;
$brand-black:     #040718;
$brand-dark:      #341149;
$brand-danger:    #A83F5D;
$terminal-black:  #282828;


// Misc ------------------------------------------------------------------------

$standard-radius: 2px;
$rounded-radius:  .9rem;


// Customization ===============================================================

// Typography ------------------------------------------------------------------

@import url('https://fonts.googleapis.com/css?family=Baumans|Jura:700|Michroma|Space+Mono');

@font-face {
  font-family: 'Marvin Visions';
  src: url("fonts/MarvinVisions-Bold.eot") format("eot");
  src: url("fonts/MarvinVisions-Bold.woff2") format("woff2");
  src: url("fonts/MarvinVisions-Bold.woff") format("woff");
}

@font-face {
    font-family: 'Digital 7';
    src: url("fonts/digital-7.woff2") format('woff2'),
         url("fonts/digital-7.woff") format('woff');
    font-weight: normal;
    font-style: normal;

}

h1 {
  font-family: 'Marvin Visions';
}

h5 {
  font-family: 'Michroma', sans-serif;
  letter-spacing: 0.5rem;
}

h6 {
  font-family: 'Michroma', sans-serif;
  letter-spacing: 0.5rem;
}

p {
  font-family: 'Michroma', sans-serif;
  font-size: 1rem;
}

h5.page-title {
  display: inline;
  padding-bottom: 0.25em;
  border-bottom: 1px solid $brand-dark;
  text-transform: uppercase;
}

@media (max-width: 425px) {
  h4 { font-size: 16px; }
  h5 { font-size: 15px; }
  h6 { font-size: 13px; }
  p { font-size: 12px; }
}

// Inputs ----------------------------------------------------------------------

input.form-control {
  background-color: $terminal-black;
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: $standard-radius;
  font-family: 'Space Mono', monospace;
  font-size: 1rem;
  letter-spacing: 1px;
  color: $brand-secondary;
  transition: all 0.5s ease-out;

  &::-webkit-input-placeholder { color: $brand-secondary; }
  &::-moz-placeholder          { color: $brand-secondary; }
  &:-moz-placeholder           { color: $brand-secondary; }
  &:-ms-input-placeholder      { color: $brand-secondary; }
}

.input-dark {
  background-color: $terminal-black !important;
  border: none;
  border-radius: 0 !important;
}

input.form-control:focus {
  @extend input, .form-control;
  box-shadow: none;
  color: $brand-primary !important;
  font-weight: 800 !important;
}


// Buttons ---------------------------------------------------------------------

button {
  background: inherit;
  color: inherit;
}

.btn-sm  {
  font-size: 0.75rem;
}

.btn-default {
  background-color: transparent;
  border-radius: $standard-radius;
  font-family: 'Digital 7', monospace;
  // font-family: 'Space Mono';
  font-size: 1.5rem;
  text-transform: capitalize;
  color: $brand-primary;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  &:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
}

.btn-disabled {
  @extend .btn-default;
  color: $brand-grey;
}

.btn-primary {
  @extend .btn-default;
  font-size: 1.75rem;
  line-height: 1.75rem;
  text-transform: uppercase;
  background-color: transparent;
  color: $brand-primary;
  border-color: $brand-primary;
  border-width: 2px;

  &:hover, &:active, &:focus {
    background-color: $brand-secondary !important;
    color: $brand-black !important;
    border-color: $brand-primary !important;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) !important;
  }
}

.btn-secondary {
  @extend .btn-default;
  color: $brand-primary;
  border-color: $brand-primary;
  font-size: 1.5rem;
  line-height: 1.5rem;

  &:hover, &:active, &:focus {
    background-color: $brand-secondary !important;
    color: $brand-black !important;
    border-color: $brand-primary !important;
  }
}

.btn-secondary-disabled {
  @extend .btn-secondary;
  border-color: rgba($brand-primary, 0.5);
  color: rgba($brand-primary, 0.5);
  font-style: italic;
  cursor: default !important;

  &:hover, &:active, &:focus {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !important;
    transform: translateY(0) !important;
    background-color: $brand-black !important;
    color: rgba($brand-primary, 0.5) !important;
    border-color: rgba($brand-primary, 0.5) !important;
  }
}

.btn-simple {
  border: 1px solid rgba($brand-primary, 0.25);
  background-color: transparent;
  color: $brand-primary;
  font-family: 'Digital 7', monospace;
  font-size: 1.5rem;
  line-height: 1.5rem;

  &:hover, &:active, &:focus {
    border-color: $brand-primary !important;
    box-shadow: none !important;
  }
}

.btn-simple-disabled {
  @extend .btn-simple;
  color: rgba($brand-primary, 0.5);
  font-style: italic;

  &:hover, &:active, &:focus {
    border-color: rgba($brand-primary, 0.25) !important;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !important;
    transform: translateY(0) !important;
    color: rgba($brand-primary, 0.5) !important;
  }
}

.btn-plain {
  @extend .btn-simple;
  border: none;
  color: $brand-secondary;

  &:hover {
    color: $brand-primary;
  }
}

.btn-plain-bright {
  @extend .btn-plain;
  color: rgba($brand-primary, 0.9);

  &:hover {
    color: $brand-primary;
    font-weight: bold;
    text-shadow: 1px 1px 6px $brand-secondary;
  }
}

.btn-plain-danger {
  @extend .btn-plain;
  color: rgba($brand-danger, 0.9);

  &:hover {
    color: $brand-danger;
    text-shadow: 1px 1px 6px rgba($brand-danger, 0.45);
  }
}

.btn-plain-disabled {
  @extend .btn-simple-disabled;
}

.btn-terminal {
  @extend .btn-default;
  background-color: rgba($brand-primary, 0.75);
  border-radius: 2px;
  border-color: none;
  color: $brand-black;
}

.btn-terminal-disabled {
  @extend .btn-terminal;
  color: rgba($brand-dark, 0.5);

  &:hover, &:active, &:focus {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !important;
    transform: translateY(0) !important;
    color: rgba($brand-dark, 0.5) !important;
  }
}

.fb-share-button, .twitter-share-button, .linkedin-share-button {
  display: flex;
  align-items: center;
  width: auto;
  height: auto;
  background: transparent;
  border-color: transparent;
  padding: 0.2em;
  font-size: 2em;

  .fb-div, .twitter-div, .linkedin-div {
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
  }

  svg {
    margin: 0;
    padding: 0;

  }
}

.share-button path {
  fill: $brand-primary;
}

.sms-share-button {
  @extend .fb-share-button;
  color: $brand-primary;

  &:hover {
    color: $brand-secondary;
    text-decoration: none;
  }
}

@media (max-width: 425px) {
  .btn-primary {
    font-size: 20px;
    padding: 5px;
  }

  .btn-secondary {
    font-size: 18px;
    padding: 5px 8px;
  }

  .btn-simple {
    font-size: 20px;
    padding: 5px;
  }

  .btn-plain h2 {
    font-size: 24px;
  }
}


// Cards -----------------------------------------------------------------------

.card.card-body {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) !important;
}


// Borders ---------------------------------------------------------------------

.border {
  border: 1px solid;
  border-radius: $standard-radius;
}


// Notifications ---------------------------------------------------------------

.notification {
  position: fixed;
  top: 10px;
  left: 50%;
  width: 95%;
  margin-left: -47.5%;
  padding: 1em;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) !important;

  p {
    font-weight: 900;
  }
}

.error-message {
  @extend .notification;
  top: 20vh;
}

.pinned-message {
  @extend .notification;
}

@media (min-width: 768px) {
  .notification {
    width: 65%;
    margin-left: -32.5%;
  }
}

@media (min-width: 992px) {
  .notification {
    width: 50%;
    margin-left: -25%;
  }
}

@media (min-width: 1200px) {
  .notification {
    width: 33%;
    margin-left: -16.5%;
  }
}


// Miscellaneous ---------------------------------------------------------------

.top-spacer {
  padding-top: 75px;
}

.list-group-item {
  background-color: transparent;
  padding-left: 0;
  padding-right: 0;
  border: none;
}

@media (max-width: 425px) {
  .list-group-item {
    // margin-bottom: 2px !important;
  }
}

.crt-grid {
  animation: textShadow 2.6s infinite;

  &::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 10000;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
  }

  &::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(18, 16, 16, 0.1);
    opacity: 0;
    z-index: 10000;
    pointer-events: none;
    animation: flicker 0.15s infinite;
  }
}

@keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}

@keyframes textShadow {
  0% {
    text-shadow: 0.4389924193300864px 0 1px rgba(0,30,255,0.5), -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  5% {
    text-shadow: 2.7928974010788217px 0 1px rgba(0,30,255,0.5), -2.7928974010788217px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  10% {
    text-shadow: 0.02956275843481219px 0 1px rgba(0,30,255,0.5), -0.02956275843481219px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  15% {
    text-shadow: 0.40218538552878136px 0 1px rgba(0,30,255,0.5), -0.40218538552878136px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  20% {
    text-shadow: 3.4794037899852017px 0 1px rgba(0,30,255,0.5), -3.4794037899852017px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  25% {
    text-shadow: 1.6125630401149584px 0 1px rgba(0,30,255,0.5), -1.6125630401149584px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  30% {
    text-shadow: 0.7015590085143956px 0 1px rgba(0,30,255,0.5), -0.7015590085143956px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  35% {
    text-shadow: 3.896914047650351px 0 1px rgba(0,30,255,0.5), -3.896914047650351px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  40% {
    text-shadow: 3.870905614848819px 0 1px rgba(0,30,255,0.5), -3.870905614848819px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  45% {
    text-shadow: 2.231056963361899px 0 1px rgba(0,30,255,0.5), -2.231056963361899px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  50% {
    text-shadow: 0.08084290417898504px 0 1px rgba(0,30,255,0.5), -0.08084290417898504px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  55% {
    text-shadow: 2.3758461067427543px 0 1px rgba(0,30,255,0.5), -2.3758461067427543px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  60% {
    text-shadow: 2.202193051050636px 0 1px rgba(0,30,255,0.5), -2.202193051050636px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  65% {
    text-shadow: 2.8638780614874975px 0 1px rgba(0,30,255,0.5), -2.8638780614874975px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  70% {
    text-shadow: 0.48874025155497314px 0 1px rgba(0,30,255,0.5), -0.48874025155497314px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  75% {
    text-shadow: 1.8948491305757957px 0 1px rgba(0,30,255,0.5), -1.8948491305757957px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  80% {
    text-shadow: 0.0833037308038857px 0 1px rgba(0,30,255,0.5), -0.0833037308038857px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  85% {
    text-shadow: 0.09769827255241735px 0 1px rgba(0,30,255,0.5), -0.09769827255241735px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  90% {
    text-shadow: 3.443339761481782px 0 1px rgba(0,30,255,0.5), -3.443339761481782px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  95% {
    text-shadow: 2.1841838852799786px 0 1px rgba(0,30,255,0.5), -2.1841838852799786px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  100% {
    text-shadow: 2.6208764473832513px 0 1px rgba(0,30,255,0.5), -2.6208764473832513px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
}
