// =========================== Future Butcher Theme ===========================
// ============================================================================

// Variables ===================================================================

// brand color palette ---------------------------------------------------------------

$brand-primary:   #4CAD54;
$brand-secondary: rgba($brand-primary, 0.45);
$brand-white:     #d1d1d5;
$brand-grey:      #8C8E96;
$brand-black:     #040718;
$brand-dark:      #341149;
$brand-danger:    #A83F5D;
$terminal-black:  #282828;


// Misc ------------------------------------------------------------------------

$standard-radius: 2px;
$rounded-radius:  .9rem;


// Customization ===============================================================

// Typography ------------------------------------------------------------------

@import url('https://fonts.googleapis.com/css?family=Baumans|Jura:700|Michroma|Space+Mono');

@font-face {
  font-family: 'Marvin Visions';
  src: url("fonts/MarvinVisions-Bold.eot") format("eot");
  src: url("fonts/MarvinVisions-Bold.woff2") format("woff2");
  src: url("fonts/MarvinVisions-Bold.woff") format("woff");
}

@font-face {
    font-family: 'Digital 7';
    src: url("fonts/digital-7.woff2") format('woff2'),
         url("fonts/digital-7.woff") format('woff');
    font-weight: normal;
    font-style: normal;

}

h1 {
  font-family: 'Marvin Visions';
}

h5 {
  font-family: 'Michroma', sans-serif;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-family: 'Michroma', sans-serif;
  font-size: 1rem;
}

.page-title {
  margin-bottom: 1em;
  border-bottom: 1px solid $brand-dark;
}

// Inputs ----------------------------------------------------------------------

input.form-control {
  background-color: $terminal-black;
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: $standard-radius;
  font-family: 'Space Mono', monospace;
  font-size: 1rem;
  letter-spacing: 1px;
  transition: all 0.5s ease-out;
}

.input-dark {
  background-color: $terminal-black !important;
  border: none;
  border-radius: 0 !important;
}

input.form-control:focus {
  @extend input, .form-control;
  box-shadow: none;
  color: $brand-primary;
  font-weight: 800 !important;
}


// Buttons ---------------------------------------------------------------------

button {
  background: inherit;
  color: inherit;
}

.btn-sm  {
  font-size: 0.75rem;
}

.btn-default {
  background-color: transparent;
  border-radius: $standard-radius;
  font-family: 'Space Mono', monospace;
  font-size: 1.5rem;
  text-transform: capitalize;
  color: $brand-primary;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  &:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transform: translateY(-2px);
  }
}

.btn-disabled {
  @extend .btn-default;
  color: $brand-grey;
}

.btn-primary {
  @extend .btn-default;
  font-size: 1.2rem;
  text-transform: uppercase;
  background-color: transparent;
  color: $brand-primary;
  border-color: $brand-primary;
  border-width: 2px;

  &:hover, &:active, &:focus {
    background-color: $brand-secondary !important;
    color: $brand-black !important;
    border-color: $brand-primary !important;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) !important;
  }
}

.btn-secondary {
  @extend .btn-default;
  color: $brand-primary;
  border-color: $brand-primary;

  &:hover, &:active, &:focus {
    background-color: inherit !important;
    color: $brand-primary !important;
    border-color: $brand-primary !important;
  }
}

.btn-secondary-disabled {
  @extend .btn-secondary;
  border-color: rgba($brand-primary, 0.5);
  color: rgba($brand-primary, 0.5);
  font-style: italic;

  &:hover, &:active, &:focus {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !important;
    transform: translateY(0) !important;
    color: rgba($brand-primary, 0.5) !important;
  }
}

.btn-simple {
  border: 1px solid rgba($brand-primary, 0.25);
  background-color: transparent;
  color: $brand-primary;
  font-family: 'Michroma', sans-serif;

  &:hover, &:active, &:focus {
    border-color: $brand-primary !important;
    box-shadow: none !important;
  }
}

.btn-simple-disabled {
  @extend .btn-simple;
  color: rgba($brand-primary, 0.5);
  font-style: italic;

  &:hover, &:active, &:focus {
    border-color: rgba($brand-primary, 0.25) !important;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !important;
    transform: translateY(0) !important;
    color: rgba($brand-primary, 0.5) !important;
  }
}

.btn-plain {
  @extend .btn-simple;
  border: none;
}

.btn-plain-disabled {
  @extend .btn-simple-disabled;
}

.btn-terminal {
  @extend .btn-default;
  background-color: rgba($brand-primary, 0.75);
  border-radius: 2px;
  border-color: none;
  color: $brand-black;
}

.btn-terminal-disabled {
  @extend .btn-terminal;
  color: rgba($brand-dark, 0.5);

  &:hover, &:active, &:focus {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !important;
    transform: translateY(0) !important;
    color: rgba($brand-dark, 0.5) !important;
  }
}


// Borders ---------------------------------------------------------------------

.border {
  border: 1px solid;
  border-radius: $standard-radius;
}

.border-primary {
  border-color: $brand-primary !important;
}

.border-danger {
  border-color: $brand-danger !important;
}

.border-black {
  border-color: black !important;
}


// Notifications ---------------------------------------------------------------

.notification {
  position: fixed;
  top: 10px;
  left: 50%;
  width: 95%;
  margin-left: -47.5%;
  padding: 1em;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.error-message {
  @extend .notification;
  top: 70px;
}

.pinned-message {
  @extend .notification;
}

@media (min-width: 768px) {
  .notification {
    width: 65%;
    margin-left: -32.5%;
  }
}

@media (min-width: 992px) {
  .notification {
    width: 50%;
    margin-left: -25%;
  }
}

@media (min-width: 1200px) {
  .notification {
    width: 33%;
    margin-left: -16.5%;
  }
}


// Miscellaneous ---------------------------------------------------------------

// .full-screen {
//   height: 100vh;
//   overflow: hidden;
// }

.top-spacer {
  padding-top: 55px;
}

.list-group-item {
  background-color: transparent;
  padding-left: 0;
  padding-right: 0;
  border: none;
}
