@font-face {
  font-family: 'marvin-visions';
  src: url("fonts/MarvinVisions-Bold.eot") format("eot");
  src: url("fonts/MarvinVisions-Bold.woff2") format("woff2");
  src: url("fonts/MarvinVisions-Bold.woff") format("woff");
}

$brand-primary: #5ad25a;
$brand-secondary: #3c6c3c;
$brand-danger: #ed4848;
$brand-black: #282828;

// muted orange
// $brand-danger: #d3701e;

// halloween edition
// $brand-primary: #ed9348;
// $brand-secondary: #d3701e;

.text-primary {
  color: $brand-primary !important;
}

.text-secondary {
  color: $brand-secondary !important;
}

.text-black {
  color: $brand-black;
}

.text-danger {
  color: $brand-danger !important;
}

.display-text {
  font-family: 'Space Mono', monospace;
}

.default-text {
  font-family: 'Michroma', monospace;
}

.link-text {
  color: $brand-primary;
  text-decoration: underline;
  transition: all 0.3s ease-in;

  &:hover {
    color: $brand-primary !important;
    font-weight: bold;
  }
}

.bg-black {
  background-color: $brand-black;
}

.bg-primary {
  background-color: $brand-primary !important;
}

.bg-secondary {
  background-color: $brand-secondary !important;
}
