@font-face {
  font-family: 'marvin-visions';
  src: url("fonts/MarvinVisions-Bold.eot") format("eot");
  src: url("fonts/MarvinVisions-Bold.woff2") format("woff2");
  src: url("fonts/MarvinVisions-Bold.woff") format("woff");
}

$green: #5AD25A;
$darkGreen: #3c6c3c;
$lightGreen: #bdedbd;
$red: #ED4848;
$black: #282828;

.text-primary {
  color: $green !important;
}

.text-secondary {
  color: $darkGreen !important;
}

.text-black {
  color: $black;
}

.text-red {
  color: $red;
}

.display-text {
  font-family: 'Space Mono', monospace;
}

.default-text {
  font-family: 'Michroma', monospace;
}

.link-text {
  color: $green;
  text-decoration: underline;
  transition: all 0.3s ease-in;

  &:hover {
    color: $green !important;
    font-weight: bold;
  }
}

.bg-black {
  background-color: $black;
}

.bg-primary {
  background-color: $green !important;
}

.bg-secondary {
  background-color: $darkGreen !important;
}
