@import './theme';

// Text ------------------------------------------------------------------------

.text-dark {
  color: $brand-dark !important;
}

.text-primary {
  color: $brand-primary !important;
}

.text-danger {
  color: $brand-danger !important;
}

.digital-text {
  font-family: 'digital-7';
}

.terminal-text {
  font-family: 'Space Mono', monospace;
  text-shadow: 0px 0px 5px $brand-primary;
}

.link-text {
  color: inherit;
  text-decoration: underline;
  transition: all 0.3s ease-in;

  &:hover {
    color: $brand-primary !important;
    font-weight: bold;
  }
}

// Because Michroma doesn't include '%'
.percent {
  font-family: 'Jura';
}


// Backgrounds -----------------------------------------------------------------

.bg-terminal {
  background-color: $terminal-black !important;
}

.bg-black {
  background-color: $brand-black !important;
}


// Spacing ---------------------------------------------------------------------

.btn-eq-flex {
  flex-basis: 0 !important;
  flex-grow: 1 !important;
}

.letter-spacing-min {
  letter-spacing: 0.4rem;
  margin-right: -0.4rem;
}

.letter-spacing-max {
  letter-spacing: 0.8rem;
  margin-right: -0.8rem;
}


// Borders ---------------------------------------------------------------------

.border-terminal {
  border-width: 8px !important;
  border-color: $brand-secondary !important;
}

.border-dark {
  border-color: $brand-dark !important;
}

.border-primary {
  border-color: $brand-primary !important;
}

.border-secondary {
  border-color: $brand-secondary !important;
}
