@import '../utilities';

.accordion-card {

  border-left: none;
  border-right: none;

  .card-header {
    background-color: transparent;
    border: none;
  }

  .card-body {
    padding-top: 0;
  }

  .collapse {
    border-left: none;
    border-right: none;
  }

}
