.cut-entry {
  margin-bottom: 3vh;
  h4 {
    font-size: 1.2rem;
    letter-spacing: 7px;
    text-transform: uppercase;
  }

  h5.cuts-owned {
    text-transform: uppercase;
  }
}
.cut-entry p.display-text.small {
  letter-spacing: normal;
}

@media (max-width: 350px) {
  .cut-header h5 { font-size: 15px; }

  .cut-entry p.display-text { font-size: 12px; }

  .cut-entry .btn-group .btn-secondary {
    margin-top: 5px;
    font-size: 14px;
  }
}
