#scores-title {
  position: absolute;
  top: 0;
  padding: 1rem 0;
  z-index: 1000;
  border-bottom: 1px solid black;
}

#scrolling-scores {
  z-index: 0;
  animation: scrollUp 200s;
}

#scrolling-scores .list-group {
  z-index: 0;
  margin: 0 auto;
}

#scrolling-scores .list-group-item p {
  margin: 0;
}

#menu-actions {
  position: absolute;
  bottom: 0;
  padding: 1rem 0;
  z-index: 1000;
  border-top: 1px solid black;
}

@keyframes scrollUp {
  from { transform: translateY(20vh); }
  to   { transform: translateY(-1270vh); }
}
