#scrolling-scores {
  height: 95vh;
  overflow: hidden;
  z-index: 0;
  animation: scrollUp 200s;
}

#scrolling-scores .list-group {
  z-index: 0;
  margin: 0 auto;
}

@keyframes scrollUp {
  from { transform: translateY(20vh); }
  to   { transform: translateY(-1270vh); }
}

@media (max-width: 767px) {
  #scrolling-scores .list-group-item .container-fluid      { padding: 0; }
  #scrolling-scores .list-group-item .container-fluid .row { padding: 0; }
}
