#scrolling-scores {
  z-index: 0;
  animation: scrollUp 200s;
}

#scrolling-scores .list-group {
  z-index: 0;
  margin: 0 auto;
}

#scrolling-scores .list-group-item p {
  margin: 0;
}

@keyframes scrollUp {
  from { transform: translateY(20vh); }
  to   { transform: translateY(-1270vh); }
}
