@import '../utilities';

#sign-up {

  #signup-label {
    opacity: 0;
    animation: fadeIn 0.5s ease-out 3s forwards;
    text-align: center;
  }

  form.signup-form {
    transform: scaleY(0);
    animation: openUp 0.5s ease-out 3s forwards;
    transition: all;

    input {
      text-align: center;
    }
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes openUp {
  from { transform: scaleY(0); }
  to { transform: scaleY(1) }
}

@media (min-width: 375px) {
  #signup-label {
    padding: 1em;
  }
}

@media (min-width: 414px) {
  #signup-label {
    padding: 1em;
  }
}
