.signup-component {
  .signup-label {
    opacity: 0;
    animation: fadeIn 1.5s ease-out 1s forwards;
    text-align: center;
  }

  form.signup-form {
    background-color: $terminal-black;

    transform: scaleY(0);
    animation: openUp 0.75s ease-out 1s forwards;
    transition: all;

    input {
      text-align: center;
      margin-bottom: 1.5em;
    }
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes openUp {
  0% {
    transform: scaleY(0);
  }
  50% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(1)
  }
}

@media (min-width: 375px) {
  #signup-label {
    padding: 1em;
  }
}

@media (min-width: 414px) {
  #signup-label {
    padding: 1em;
  }
}
