.signup-component {
  transform: scale(0);
  animation: openUp 0.75s ease-out 5s forwards;

  .card {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

  .signup-label {
    opacity: 0;
    animation: fadeIn 1.5s ease-out 1s forwards;
    text-align: center;
  }

  form.signup-form {
    background-color: $terminal-black;
    transition: all;

    input {
      text-align: left;
    }
  }

}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes openUp {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1)
  }
}

@media (min-width: 375px) {
  #signup-label {
    padding: 1em;
  }
}

@media (min-width: 414px) {
  #signup-label {
    padding: 1em;
  }
}
