@import '../theme';

#stats-bar {
  z-index: 1000;
  padding-left: 1em;
  padding-right: 1em;
}

@media (min-width: 992px) {
  #stats-bar {
    padding-left: 15em;
    padding-right: 15em;
  }
}

@media (min-width: 1200px) {
  #stats-bar {
    padding-left: 20em;
    padding-right: 20em;
  }
}
