@import '../utilities';

@font-face {
  font-family: 'marvin-visions';
  src: url("fonts/MarvinVisions-Bold.eot") format("eot");
  src: url("fonts/MarvinVisions-Bold.woff2") format("woff2");
  src: url("fonts/MarvinVisions-Bold.woff") format("woff");
}

#title-screen {
  height: 45vh;
}

.gradient {
  background-image: linear-gradient(to right, $green, $darkGreen);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

#title-future {
  transform: translateY(-100vh);
  overflow-x: hidden;
  font-family: 'marvin-visions';
  font-size: 25.5vw;
  line-height: 19vw;
  animation: fadeRight 1s ease-in forwards;
}

@keyframes fadeRight {
  0% {
    transform: translateY(-100vh);
  }
  75% {
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes delayDisplay {
  from { visibility: hidden; }
  to { visibility: visible; }
}

@media (min-width: 375px) {
  #title-future {
    font-size: 26vw;
  }
}

@media (min-width: 576px) {
  #title-future {
    font-size: 26.5vw;
  }
}

@media (min-width: 992px) {
  #title-future {
    font-size: 17.25vw;
    line-height: 12.5vw;
  }
}

@media (min-width: 1200px) {
  #title-future {
    font-size: 11.25vw;
    line-height: 8.15vw;
  }
}
