.title-canvas {
  width: 100%;
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#heart-sprite {
  position: absolute;
  z-index: 1000;
  width: 60%;
  opacity: 0;
  animation: fadeIn 0.3s ease-in forwards;
}

#machete-sprite {
  height: 100%;
}

#title-image {
  position: absolute;
  z-index: 2000;
  animation: slideDown 1s ease-in forwards;
}

h1.main-title {
  font-size: 26.5vw;
  line-height: 19.33vw; // 1:1.36 font-size
  margin: 0;
  color: $brand-danger;
  background: -webkit-linear-gradient($brand-danger, $brand-black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes slideDown {
  0%   { transform: translateY(-100vh); }
  75%  { transform: translateY(1vh); }
  85%  { transform: translateY(-2vh); }
  100% { transform: translateY(0); }
}

@media (min-width: 768px) {
  h1.main-title {
    font-size: 27.8vw;
    line-height: 20vw;
  }
}

@media (min-width: 992px) {
  h1.main-title {
    font-size: 18.4vw;
    line-height: 13.3vw;
  }
}

@media (min-width: 1200px) {
  h1.main-title {
    font-size: 12.25vw;
    line-height: 8.9vw;
  }
}
