.transition-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
}

.transition-animation .subway-animation {
  animation: fadeInOut 0.8s ease-out infinite;
}

.transition-animation .default-animation {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  margin-left: -50px;
  opacity: 0.6;
  animation: roll 2.5s linear infinite;

}

@keyframes fadeInOut {
  0%   { opacity: 0.2; }
  50%  { opacity: 0.45; }
  100% { opacity: 0.2; }
}

@keyframes roll {
  0%   { transform: rotate(0); }
  100% { transform: rotate(360deg); }
}
