<div
  class="intro-image jumbotron my-xl-3 d-flex flex-column justify-content-center"
>
  <h1 class="display-4 mb-md-4 text-center">Los Angeles</h1>
  <h2 class="lead title-text text-center">2055</h2>
</div>

<div class="row justify-content-center">
  <div class="col-12 col-md-8 col-lg-6">
    <div class="container pb-5">

      <p class="mt-sm-2 mt-md-5 mt-xl-4">
        The economy is in ruins after the collapse of HypeCoin. It's time to get out of town, but you need cash first.
      </p>

      <p>
        Your only shot is to hustle the new premium addiction of the rich and famous. There's unlimited opportunity servicing their demand for fresh, exclusive cuts of <b>human meat</b>.
      </p>

      <p>...Not that you would ever touch the stuff.</p>

      <div class="btn-group w-100">
        <button
          class="btn btn-primary btn-lg btn-eq-flex"
          {{action "skipIntro"}}
        >
          Skip
        </button>

        <button
          class="btn btn-primary btn-lg btn-eq-flex"
          {{action "nextScreen"}}
        >
          Next
        </button>
      </div>
    </div>
  </div>
</div>
