<div class="row justify-content-center">
  <div class="col-12 col-md-8 col-lg-6">
    <div class="container">
      <h3 class="home-screen-header">Today's the day...</h3>

      <p class="mb-md-5">
        You wake up in <b>Downtown LA</b>, ready to hustle. The city is getting too rough and it's time to find your ex down in Mexico.
      </p>

      <p class="mb-md-5">
        Before you head out the door, you grab your leather jacket - a gift from the ex. It's perfect for carrying a few pounds of meat, but you'll want to pick up something bigger soon.
      </p>

      <p class="home-screen-bottom">Just don't draw too much attention.</p>

      <button
        class="btn btn-secondary btn-lg btn-block"
        {{action "nextScreen"}}
      >
        Next
      </button>
    </div>
  </div>
</div>
