<div class="row justify-content-center">
  <div class="col-12 col-md-8 col-lg-6">
    <div class="container">
      <h3 style="margin-top: 10vh; margin-bottom: 5vh;">One more thing...</h3>

      <p class="mb-md-5">
        Your ex has a line of credit at the bank downtown. You'll need cash to hustle the meat markets and earn enough to bribe your way across the border to Mexico.
      </p>

      <p style="margin-bottom: 5vh;">
        Hit the <b>Shavings & Loan Bank</b> for a starter loan now.
      </p>

      {{reset-tutorials sendTutorialSelection=(action 'setTutorialSelection')}}

      <button
        class="btn btn-secondary btn-lg btn-block"
        {{action 'startGame'}}>
        Let's ride
      </button>

    </div>
  </div>
</div>
