<div class="row justify-content-center">
  <div class="col-12 col-md-8 col-lg-6">
    <div class="container">
      <h4 class="home-screen-header">One more thing...</h4>

      <p class="mt-sm-2 mt-md-5 mt-xl-4">
        Don't worry about how, but you hooked up a
        {{format-money 5000 precision=0}}
        loan from the bank.
      </p>

      <p>
        The current rate for booking passage with the <span class="font-italic">coyote</span> is
        {{format-money current_rate precision=0}}.
        Anything less and you'll be stuck here as LA explodes into anarchy.
      </p>

      <p class="home-screen-bottom">
        So turn that loan into real money, to pay off the coyote - and maybe something left over for Mexico. And pay back your loan. Nobody likes a deadbeat - except for the coroner!
      </p>

      {{home/reset-tutorials sendTutorialSelection=(action "setTutorialSelection")}}

      <button
        class="btn btn-secondary btn-lg btn-block"
        {{action "startGame"}}
      >
        Let's ride
      </button>

    </div>
  </div>
</div>
