<div class="row justify-content-center">
  <div class="col-12 col-md-8 col-lg-6">
    <div class="container">
      <h4 class="home-screen-header">One more thing...</h4>

      <p class="mt-sm-2 mt-md-5 mt-xl-4">
        Don't sweat the details, but you hooked up a
        {{format-money 5000 precision=0}}
        loan from the bank.
      </p>

      <p>
        The current rate for booking passage with the <span class="font-italic">coyote</span> is
        {{format-money current_rate precision=0}}.
        Anything less and you'll be stuck here as LA explodes into anarchy.
      </p>

      <p class="home-screen-bottom">
        Your debt will grow by 15<span class="percent">%</span>
        each hour. Yeah, it's rough - welcome to the People's Republic of LA. Better pay it quick.
      </p>

      {{home/reset-tutorials sendTutorialSelection=(action "setTutorialSelection")}}

      <button
        class="btn btn-primary btn-lg btn-block"
        {{action "startGame"}}
      >
        Let's ride
      </button>

    </div>
  </div>
</div>
