<div
  class="intro-image jumbotron my-xl-3 d-flex flex-column justify-content-end"
>
  <h2 class="text-right">
    ...5:00am
  </h2>
</div>

<div class="row justify-content-center">
  <div class="col-12 col-md-8 col-lg-6">
    <div class="container pb-5">
      <p class="mt-sm-2 mt-md-5 mt-xl-4">
        You wake up in Compton, ready to hustle. The <span class="font-italic">coyote</span> is smuggling people across the border to Mexico in only 24 hours - better get cracking.
      </p>

      <p>
        Getting around town can take a while, but that's the price you pay for better meat markets and security. Just keep an eye on the clock.
      </p>

      <p class="home-screen-bottom">
        If you need protection, Gus's Army Surplus Store in Bell Gardens opens at 9am.
      </p>

      <button
        class="btn btn-primary btn-lg btn-block"
        {{action "nextScreen"}}
      >
        <span class="letter-spacing-max">Next</span>
      </button>
    </div>
  </div>
</div>
