<div class="row justify-content-center">
  <div class="col-12 col-md-8 col-lg-6">
    <div class="container">
      <h3 class="home-screen-header">Clock's ticking...</h3>

      <p class="mb-md-5">
        You have <b>24 hours</b> before the city becomes complete carnage - better not waste any time.
      </p>

      <p class="home-screen-bottom">
        Traveling anywhere in LA takes an hour, but keep cash on hand for subway fares. Nicer neighborhoods always charge more for protection, but that's where you'll find the best meat markets.
      </p>

      <button
        class="btn btn-secondary btn-lg btn-block"
        {{action "nextScreen"}}
      >
        Next
      </button>
    </div>
  </div>
</div>
