#all-scores {
  position: fixed;
  left: 50%;
  margin-left: -50%;
}

.scores-title {
  position: absolute;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  h1 {
    background: -webkit-linear-gradient($brand-accent-alt, $brand-dark);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.over-container {
  z-index: 1000
}

.end-text {
  h2 {
    background: -webkit-linear-gradient($brand-accent-alt, $brand-dark);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
