#all-scores {
  position: fixed;
  left: 50%;
  margin-left: -50%;
}

.scores-title {
  position: absolute;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.over-container {
  z-index: 1000
}
