.intro-image {
  height: 22vh;
  background-color: $brand-dark;
  background-image: url("https://d7htslhpqfthw.cloudfront.net/background-night.jpeg");
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;

  h1 {
    font-size: 36px;
  }

  h2 {
    font-family: 'Michroma', sans-serif;
    text-transform: uppercase;
    color: $brand-primary;
    text-shadow: 0 6px 6px rgba(0,0,0,0.3);
  }
}

@media (min-width: 576px) {
  .intro-image {
    height: 30vh;
    background-position: center;

    h1 { font-size: 7rem; }
    h2 { font-size: 2.5rem; }
  }
}
