#scores-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0;
  z-index: 1000;
  border-bottom: 1px solid black;
  text-align: center;
}

#menu-actions {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0;
  z-index: 1000;
  border-top: 1px solid black;
}
