.list-group-item {
  overflow: hidden;
  transform: translateX(-400px);
  animation: openMenu 0.2s ease-out forwards;
}

#stations-list .list-group-item:nth-child(1) { animation-delay: 0.4s; }
#stations-list .list-group-item:nth-child(2) { animation-delay: 0.3s; }
#stations-list .list-group-item:nth-child(3) { animation-delay: 0.2s; }
#stations-list .list-group-item:nth-child(4) { animation-delay: 0.1s; }
#stations-list .list-group-item:nth-child(5) { animation-delay: 0; }

@keyframes openMenu {
  from { transform: translateX(-400px); }
  to { transform: translateX(0); }
}
