<div class="text-center border-bottom border-black mb-3">
  <h1 class="display-1 text-danger">
    <i class="fas fa-skull-crossbones"></i>
  </h1>
</div>

<p>
  {{randomDefeatQuote}}
</p>

<p>
  You wake up, bleeding in the gutter. You lost {{turnsLost}}
  {{#if (eq turnsLost 1)}}
    hour!
  {{else}}
    hours!
  {{/if}}
  Better get moving.
</p>

<p>
  At least he didn't chop you up and harvest your organs.
</p>

{{#link-to "market" class="btn btn-secondary btn-lg btn-block"}}
  {{randomDefeatedButton}}
{{/link-to}}
