<div class="text-center border-bottom border-black mb-3">
  <h1 class="display-1 text-danger">
    <i class="far fa-frown"></i>
  </h1>
</div>

<p>
  You throw
  {{format-money fundsLost precision=0}}
  at {{muggerName}} and run, hoping he doesn't chase you down for more.
</p>

<p>Some kids laugh at you, but at least you still have all your body parts.</p>

{{#link-to "market" class="btn btn-secondary btn-lg btn-block"}}
  Shake off your shame
{{/link-to}}
