<div id="all-scores" class="container-fluid">
  <div class="row justify-content-center mb-3">
    <div class="col-12 col-sm-10 col-md-6">
      <div
        class="scores-title bg-black d-flex justify-content-center w-100 mb-0 mb-lg-1 pt-4"
      >
        <h5 class="page-title">High Scores</h5>
      </div>

      {{scrolling-scores scores=scores}}
    </div>
  </div>
</div>

<div class="over-container fixed-bottom bg-black py-3">
  <div class="row justify-content-center">
    <div class="col-10 col-sm-8 col-md-4 text-center">
      {{#link-to "market" class="btn btn-secondary btn-lg"}}
        Back to market
      {{/link-to}}
    </div>
  </div>
</div>
