<div class="container-fluid full-screen">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      <TitleScreen class="text-block mt-5 py-2" />

      {{!-- <SignUp sendJoin={{action "signInPlayer"}} /> --}}
    </div>
  </div>
</div>
