<div class="container-fluid full-screen">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      {{title-screen class="text-block mt-5 py-2"}}

      <div class="mt-5 mx-lg-5">
        {{signup-form sendJoin=(action "signInPlayer")}}
      </div>
    </div>
  </div>
</div>
