<div class="container-fluid">

  {{top-scores}}

  <div class="row justify-content-center mt-1">
    <div class="col-12 col-sm-10 col-md-6 text-center">
      {{share-row}}

      <p>
        <a
          href="https://jonchoukroun.typeform.com/to/xtMxpW"
          class="link-text"
        >
          Leave me feedback (it's quick and anonymous).
        </a>
      </p>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="nav-bar row justify-content-center bg-black">
    <div class="col-12 col-md-8 col-lg-4 px-0 p-2 pb-3 px-sm-4 px-md-1">
      <button
        class="btn btn-secondary btn-lg btn-block"
        {{action "startNewGame"}}
      >
        <span class="letter-spacing-max">Start Over</span>
      </button>

    </div>
  </div>
</div>
