<div class="container-fluid full-screen top-spacer">

  {{stats-bar sendQuit=(action 'sendToScores')}}

  <div class="row justify-content-center mb-3">
    <div class="col-12 col-sm-10 col-md-6 mt-md-4">

      {{meat-market currentStation=currentStation turnsLeft=turnsLeft isInDebt=isInDebt sendRouteReload=(action 'reloadRoute')}}

    </div>
  </div>

</div>
