<div class="container-fluid full-screen top-spacer">

  {{stats-bar sendQuit=(action 'sendToScores')}}

  <div class="row justify-content-center mb-3">
    <div class="col-12 col-sm-10 col-md-6 mt-md-4">

      {{#if isLastTurn}}
        {{subway-terminal sendEndGame=(action 'sendEndGame')}}
      {{else}}
        <div class="d-flex flex-column">
          <div class="text-center border-bottom border-secondary mb-3">
            <h3 class="page-heading text-secondary">
              &nbsp;Destinations
            </h3>
          </div>

          {{subway-stations sendStation=(action 'navigate')}}

        </div>

        <div class="container cta-container bg-black px-0">
          {{#link-to 'market' class="btn btn-secondary btn-lg btn-block"}}
            Back to market
          {{/link-to}}
        </div>
      {{/if}}

    </div>
  </div>
</div>
