<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      <div class="mt-5 py-2">
        {{title-screen}}
      </div>

      <div class="text-left mt-5">
        <p class="lead">
          Law enforcement is cracking down on meat markets across town.
        </p>
        <p>
          Come back when the heat is off.
        </p>
      </div>

      <div class="d-flex justify-content-center mt-1">
        {{#link-to "home" class="btn btn-secondary btn-lg btn-block"}}
          Try again
        {{/link-to}}
      </div>

    </div>
  </div>
</div>
